@font-face {
    font-family: league-spartan;
    src: url(./font/leaguespartan-bold.woff);
    font-weight: bold;
}

h1 {
	font-family: league-spartan;
	font-size: 72pt;
	margin: auto;
	text-align: center;
	padding: 20px 0 0 0;
	letter-spacing: .1em;
}
